.cointer {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var();
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: inline-block; 
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #c093eb;
    cursor: pointer;
}
.card :hover {
    background-color: #a881ce;
    transition: 0.5px;
}

@media screen and (max-width: 476px) {
    
}

