*,
html {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.navbar {
  position: sticky;
  top: 0;
}

.awards {
  font-size: 3vw;
  text-align: center;
  color: white;
}

.button {
  border-radius: 15px;
  padding: 0px 30px 0px 30px;
  border: 0;
}
