/* Style the footer element */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  /* Style the content within the footer */
  #footer-content {
    font-size: 14px;
  }
  
  /* Style links in the footer */
  footer a {
    color: #000000;
    text-decoration: none;
  }
  
  /* Hover effect for links */
  footer a:hover {
    text-decoration: underline;
  }

  .input-group {
    position: relative;
  }

    .input-group__input {
    font: inherit;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #3300ff;
    background-color: transparent;
    transition: outline-color 500ms;
  }

  .input-group__input:is(:focus, :valid){
    outline-color: #d4ff00;
  }

  .input-group__label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #00ffb3;
    transition: translate 500ms, scale 500ms;
  }

  .input-group__input:focus + 
  .input-group__label, 
  .input-group__input:valid + .input-group__label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #ffffff;
  }